<div id="devicesContainer" class="view" ng-controller="DeviceController">
    <div class="card" ng-repeat="(name, device) in devices" on>
        <div ng-if="device.metaName">
            <h1 class="deviceName">{{device.metaName}}</h1>
        </div>
        <div ng-if="!device.metaName">
            <h1 class="deviceName">{{name}}</h1>
        </div>
        <div class="control-view">
            <div ng-repeat="(controlName, control) in device.controls">
                <span ng-if="control.metaName">{{control.metaName}}</span>
                <input ng-if="control.metaType == 'pushbutton'"
                       type="button" ng-value="controlName"/>
            </div>
        </div>
    </div>

</div>