<div class="card" id="loginForm">
    <form ng-submit="tryConnect()">
        <input type="text" ng-required="true" placeholder="MQTT Hostname"
               ng-model="loginData.host"/>
        <input type="number" ng-required="true" placeholder="MQTT Port"
               ng-model="loginData.port" value="18883"/>
        <input type="text" placeholder="MQTT user" ng-model="loginData.user"/>
        <input type="password" placeholder="MQTT password" ng-model="loginData.password"/>
        <input type="submit" value="Connect"/>
    </form>
</div>